body {
    background-color: black;
}

header h1 {
    color: white;
}

.ball {
    background-color: brown;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}