*{
    box-sizing: border-box;
    transition: 1s;
}
body {
    background-color: black;
}

header h1 {
    color: white;
}

.ball {
    background-color: brown;
    color: white;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}